extends ./layout.jade

block content
    section.post
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading #{post.title}
<<<<<<< HEAD

            hr.light

            p.text-faded
              | #{post.description}
            .article
              | #{post.description}
=======
            
            hr.light
            
            p.text-faded
              | #{post.description}
            .article
              | #{post.description}
>>>>>>> 843275eae5248f588a69135a1b71862247f1373d
